* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: yellowgreen;
    color: red;
}

h1 {
    text-align: center;
    margin: 50px;
    font-size: 50px;
}



/********** Large devices only **********/
@media (min-width: 1200px) {
    .col-lg-4 {
        float: left;
        border: 2px solid black;
        margin: 20px;
        margin-bottom: 20px;
        width: 28%;
        position: relative;
        top: 10px;
        left: 10px;
    }
}
  
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    .col-md-6 {
        float: left;
        border: 2px solid black;
        margin: 20px;
        margin-bottom: 20px;
        width: 45%;
        position: relative;
    }
    .col-md-12 {
        float: left;
        border: 2px solid black;
        margin: 20px;
        width: 95%;
        position: relative;
    }
}

@media (max-width: 991px) {
    .col-sm-12 {
        float: left;
        border: 2px solid black;
        margin: 20px;
        width: 90%;
        position: relative;
    }
}

.chicken {
    border: 2px solid black;
    width: 100px;
    height: auto;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: tomato;
}

.beef {
    border: 2px solid black;
    width: 100px;
    height: auto;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: pink;
}

.fish {
    border: 2px solid black;
    width: 100px;
    height: auto;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: aqua;
}

.text {
    margin: 10px;
    margin-top: 40px;
}